<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
  <div class="scrollToTop" onclick="scrollToTop()"></div>
  <div class="container">
    <h2>Scroll to Top</h2>
    <p>
      Harum nam repellat in id repellat aperiam quia ex inventore. Et voluptatem eum quos illo quae. Quia facilis et
      repudiandae molestias necessitatibus iure doloremque cupiditate. Sunt harum quasi consectetur eos vero nihil quis.
      Aut nemo esse esse enim ullam.

      A sunt culpa expedita rem. Quis quasi distinctio ipsa qui eos. Dicta totam commodi eum voluptas deserunt pariatur.
      Rerum et dolor in quos quo aspernatur quibusdam ab.

      Vero sunt similique est ut ut. Porro ipsa fuga praesentium aspernatur ducimus molestiae harum. Ut ut repudiandae
      laborum rerum maxime voluptatem et at placeat. Quia facere corrupti aut quia accusantium. Nisi totam omnis
      exercitationem magnam nobis autem. Non dolorem magni minus et magni sunt.

      Harum nam repellat in id repellat aperiam quia ex inventore. Et voluptatem eum quos illo quae. Quia facilis et
      repudiandae molestias necessitatibus iure doloremque cupiditate. Sunt harum quasi consectetur eos vero nihil quis.
      Aut nemo esse esse enim ullam.

      A sunt culpa expedita rem. Quis quasi distinctio ipsa qui eos. Dicta totam commodi eum voluptas deserunt pariatur.
      Rerum et dolor in quos quo aspernatur quibusdam ab.

      Vero sunt similique est ut ut. Porro ipsa fuga praesentium aspernatur ducimus molestiae harum. Ut ut repudiandae
      laborum rerum maxime voluptatem et at placeat. Quia facere corrupti aut quia accusantium. Nisi totam omnis
      exercitationem magnam nobis autem. Non dolorem magni minus et magni sunt.
      Harum nam repellat in id repellat aperiam quia ex inventore. Et voluptatem eum quos illo quae. Quia facilis et
      repudiandae molestias necessitatibus iure doloremque cupiditate. Sunt harum quasi consectetur eos vero nihil quis.
      Aut nemo esse esse enim ullam.

      A sunt culpa expedita rem. Quis quasi distinctio ipsa qui eos. Dicta totam commodi eum voluptas deserunt pariatur.
      Rerum et dolor in quos quo aspernatur quibusdam ab.

      Vero sunt similique est ut ut. Porro ipsa fuga praesentium aspernatur ducimus molestiae harum. Ut ut repudiandae
      laborum rerum maxime voluptatem et at placeat. Quia facere corrupti aut quia accusantium. Nisi totam omnis
      exercitationem magnam nobis autem. Non dolorem magni minus et magni sunt.
      Harum nam repellat in id repellat aperiam quia ex inventore. Et voluptatem eum quos illo quae. Quia facilis et
      repudiandae molestias necessitatibus iure doloremque cupiditate. Sunt harum quasi consectetur eos vero nihil quis.
      Aut nemo esse esse enim ullam.

      A sunt culpa expedita rem. Quis quasi distinctio ipsa qui eos. Dicta totam commodi eum voluptas deserunt pariatur.
      Rerum et dolor in quos quo aspernatur quibusdam ab.

      Vero sunt similique est ut ut. Porro ipsa fuga praesentium aspernatur ducimus molestiae harum. Ut ut repudiandae
      laborum rerum maxime voluptatem et at placeat. Quia facere corrupti aut quia accusantium. Nisi totam omnis
      exercitationem magnam nobis autem. Non dolorem magni minus et magni sunt.
      Harum nam repellat in id repellat aperiam quia ex inventore. Et voluptatem eum quos illo quae. Quia facilis et
      repudiandae molestias necessitatibus iure doloremque cupiditate. Sunt harum quasi consectetur eos vero nihil quis.
      Aut nemo esse esse enim ullam.

      A sunt culpa expedita rem. Quis quasi distinctio ipsa qui eos. Dicta totam commodi eum voluptas deserunt pariatur.
      Rerum et dolor in quos quo aspernatur quibusdam ab.

      Vero sunt similique est ut ut. Porro ipsa fuga praesentium aspernatur ducimus molestiae harum. Ut ut repudiandae
      laborum rerum maxime voluptatem et at placeat. Quia facere corrupti aut quia accusantium. Nisi totam omnis
      exercitationem magnam nobis autem. Non dolorem magni minus et magni sunt.
    </p>
  </div>
</body>

<script src="script.js"></script>

</html>