<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div class="container" id="blur">
      <div class="content">
        <h2>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure quaerat
          ipsam rem, culpa ut vitae ex expedita architecto nulla at sit maxime.
          Totam tempora culpa exercitationem veritatis sit eos vitae!
        </h2>
        <img src="assets/omg-cat.jpg" alt="OMG" />
        <a href="#" onclick="toggle()">Read More</a>
      </div>
    </div>
    <div id="popup">
      <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
      <p>
        Dolor, similique temporibus! Dicta corrupti repudiandae nam eum ipsam
        quae incidunt exercitationem quam sint magnam. Iure alias, distinctio
        blanditiis dolor velit id.
      </p>
      <a href="#" onclick="toggle()">Close</a>
    </div>
    <script type="text/javascript" src="script.js"></script>
  </body>
</html>
